DB_HOST="your-pg-host"
DB_USER="your-pg-user"
DB_PORT="your-pg-port"
DB_PASSWORD="your-pg-password"
DB_NAME="your-pg-dbname"
RENDER_QUEUE="renders" // the queue will be created automatically
IS_QUEUE_RUNNER="true | false"
DOCUMENT_DIRECTORY="/tmp/ffmpeglab" // mount this path as a volume
DB_MIGRATION_ENABLED="true | false"
S3_REGION='eu-west-1'
S3_ENDPOINT='https://your-endpoint.storage.supabase.co/storage/v1/s3'
S3_ACCESS_KEY='your-s3-key'
S3_SECRET_KEY='your-s3-secret-key'